<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_quote_add_item">
        <observer name="vendor_sales_quote_add_item" instance="SM\Vendors\Observer\CartProductAddAfter" />
    </event>
    <event name="adminhtml_customer_save_after">
        <observer name="vendor_adminhtml_customer_save_after" instance="SM\Vendors\Observer\AdminCustomerPrepareSave" />
    </event>
</config>