<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="SM_Vendors::top_vendors"
             title="Vendors"
             module="SM_Vendors"
             sortOrder="9999"
             resource="SM_Vendors::top_vendors"
            />
        <add id="SM_Vendors::vendors_manager"
             title="Vendor Manager"
             module="SM_Vendors"
             sortOrder="9999"
             resource="SM_Vendors::vendors_manager"
             parent="SM_Vendors::top_vendors"
             action="vendors/vendor/index"
            />
        <add id="SM_Vendors::vendors_profile"
            title="Profile"
            module="SM_Vendors"
            sortOrder="9999"
            resource="SM_Vendors::vendors_profile"
            parent="SM_Vendors::top_vendors"
            action="vendors/vendor/profile"
            />
        <add id="SM_Vendors::shipping_methods"
             title="Shipping Methods"
             module="SM_Vendors"
             sortOrder="9999"
             resource="SM_Vendors::shipping_methods"
             parent="SM_Vendors::top_vendors"
             action="vendors/shipping/index"
            />
        <add id="SM_Vendors::vendors_deliveryarea"
             title="Delivery Area"
             module="SM_Vendors"
             sortOrder="9999"
             resource="SM_Vendors::vendors_deliveryarea"
             parent="SM_Vendors::top_vendors"
             action="vendors/deliveryarea/index"
            />
        <add id="SM_Vendors::vendors_page"
             title="Page"
             module="SM_Vendors"
             sortOrder="9999"
             resource="SM_Vendors::vendors_page"
             parent="SM_Vendors::top_vendors"
             action="vendors/page/index"
            />
        <add id="SM_Vendors::vendors_banner"
             title="Banner"
             module="SM_Vendors"
             sortOrder="9999"
             resource="SM_Vendors::vendors_banner"
             parent="SM_Vendors::top_vendors"
             action="vendors/banner/index"
            />
        <add id="SM_Vendors::vendors_representative"
             title="Sales Representatives"
             module="SM_Vendors"
             sortOrder="9999"
             resource="SM_Vendors::vendors_representative"
             parent="SM_Vendors::top_vendors"
             action="vendors/representative/index"
            />
        <add id="SM_Vendors::vendors_orders"
             title="Orders"
             module="SM_Vendors"
             sortOrder="9999"
             resource="SM_Vendors::vendors_orders"
             parent="SM_Vendors::top_vendors"
             action="vendors/order/index"
            />
        <add id="SM_Vendors::vendors_invoices"
             title="Invoices"
             module="SM_Vendors"
             sortOrder="9999"
             resource="SM_Vendors::vendors_invoices"
             parent="SM_Vendors::top_vendors"
             action="vendors/invoice/index"
            />
        <add id="SM_Vendors::vendors_shipments"
             title="Shipments"
             module="SM_Vendors"
             sortOrder="9999"
             resource="SM_Vendors::vendors_shipments"
             parent="SM_Vendors::top_vendors"
             action="vendors/shipment/index"
            />
        <add id="SM_Vendors::vendors_creditmemos"
             title="Credit Memos"
             module="SM_Vendors"
             sortOrder="9999"
             resource="SM_Vendors::vendors_creditmemos"
             parent="SM_Vendors::top_vendors"
             action="vendors/creditmemo/index"
            />
        <add id="SM_Vendors::reports"
             title="Vendor Reports"
             module="SM_Vendors"
             sortOrder="9999"
             resource="SM_Vendors::reports"
             parent="Magento_Reports::report"
            />
        <add id="SM_Vendors::vendors_reports"
             title="Orders and Delivery Report"
             module="SM_Vendors"
             sortOrder="9999"
             resource="SM_Vendors::vendors_reports"
             parent="SM_Vendors::reports"
             action="vendors/reports/vendororders"
            />
        <add id="SM_Vendors::customer_group"
            title="Customer Groups"
            module="Magento_Customer"
            sortOrder="9999"
            resource="Magento_Customer::group"
            parent="Magento_Customer::customer"
            action="customer/group"
            />
    </menu>
</config>